.swiper {
  padding-bottom: 3rem;
}

.swiper-pagination-bullet {
  background-color: #9f9f9f;
  width: 2rem;
  height: 0.5rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
